<section class="relative md:min-h-[95vh] min-h-[70vh] flex items-center justify-center overflow-hidden bg-inverse-surface">
<div class="absolute inset-0 bg-gradient-to-b from-transparent to-inverse-surface/90 z-10"></div>
{{ with resources.Get "images/brand-mark.png" }}
<img alt="ALGWAD Hero Background" class="absolute inset-0 w-full h-full object-cover opacity-40 mix-blend-overlay" src="{{ .RelPermalink }}"/>
{{ end }}
<div class="relative z-20 px-margin-mobile md:px-margin-desktop text-center flex flex-col items-center py-20">
<h1 class="font-display-lg md:text-display-lg text-3xl text-surface-bright mb-10 max-w-4xl md:mt-80 mt-16">
<span class="gold-gradient-text font-[Montserrat]" dir="ltr">{{ .Params.heroHighlight }}</span> <br/> {{ .Params.heroRest }}
</h1>
<p class="font-body-md text-xl md:text-2xl text-surface-variant max-w-4xl mx-auto mb-12 leading-relaxed">
{{ .Params.heroSubheading }}
</p>
</div>
</section>
