<a aria-label="{{ i18n "whatsapp_tooltip" }}" class="fixed bottom-6 end-6 md:bottom-10 md:end-10 w-14 h-14 md:w-20 md:h-20 bg-[#25D366] rounded-full flex items-center justify-center shadow-[0_0_25px_rgba(37,211,102,0.5)] hover:scale-110 transition-all z-50 group" href="{{ .Site.Params.whatsappLink }}" target="_blank" rel="noopener">
<div class="absolute inset-0 rounded-full bg-[#25D366] animate-ping opacity-20"></div>
<span aria-hidden="true" class="material-symbols-outlined text-white text-3xl md:text-5xl relative z-10">chat</span>
<span class="absolute end-16 md:end-24 bg-surface dark:bg-inverse-surface border border-secondary/20 text-on-surface dark:text-surface-bright px-6 py-3 rounded-xl text-lg font-bold whitespace-nowrap opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition-opacity font-body-md shadow-2xl border-e-4 border-e-secondary-fixed">{{ i18n "whatsapp_tooltip" }}</span>
</a>
